<li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
       aria-expanded="false">{% if request.tracer.project %}{{ request.tracer.project }}{% else %}所有项目{% endif %}<span class="caret"></span></a>
    <ul class="dropdown-menu">
        {% if my_project %}
            <li><i class="fa fa-list" aria-hidden="true"></i> 我创建的项目</li>
            {% for project in my_project %}
                <li {% if project.id == request.tracer.project.id %} class="active" {% endif %}><a href="{% url 'dashboard' project_id=project.id %}">{{ project.name }}</a></li>
            {% endfor %}
            <li role="separator" class="divider"></li>
        {% endif %}
        {% if join_project %}
            <li><i class="fa fa-handshake-o" aria-hidden="true"></i> 我参与的项目</li>
            {% for join in join_project %}
                <li {% if join.project.id == request.tracer.project.id %} class="active" {% endif %}><a href="{% url 'dashboard' project_id=join.project.id %}">{{ join.project }}</a></li>
            {% endfor %}
            <li role="separator" class="divider"></li>
        {% endif %}
        <li><a href="{% url 'list_project' %}">所有项目</a></li>
    </ul>
</li>




