{% extends 'layout/manage.html' %}
{% load static %}

{% block title %}
    文件系统
{% endblock %}
{% block css %}
    <style>
        .panel-default {
            margin-top: 10px;
        }

        .panel-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div>
                    <ol class="breadcrumb">
                        <li>
                            <a href="{% url 'file' project_id=request.tracer.project.id %}">
                                <i class="fa fa-home" aria-hidden="true"></i>
                                <span>主目录</span>
                            </a>
                        </li>

                        {% for menu in menu_list %}

                            {% if menu.id == folder_id %}
                                <li class="active">
                                    <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                    <span>{{ menu.title }}</span>
                                </li>

                            {% else %}
                                <li>
                                    <a href="/manage/{{ request.tracer.project.id }}/file/?folder_id={{ menu.id }}">
                                        <i class="fa fa-folder-open-o" aria-hidden="true"></i>
                                        <span>{{ menu.title }}</span>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ol>
                </div>
                <div>
                    <a href="#" type="button" class="btn btn-success btn-xs">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> 上传文件
                    </a>

                    <button class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" id="addFolder"
                            data-title="新建文件夹">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> 新建文件夹
                    </button>

                </div>
            </div>

            <div class="panel-body">

                <table class="table">
                    <thead>
                    <tr>
                        <th>名称</th>
                        <th>文件大小</th>
                        <th>更新者</th>
                        <th>更新时间</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for file in file_query_set %}
                        <tr>
                            <td>
                                {% if file.file_type == 1 %}
                                    <a href='{% url "file" project_id=request.tracer.project.id %}?folder_id={{ file.id }}'>
                                        <i class="fa fa-folder-open-o" aria-hidden="true"></i>{{ file.title }}
                                    </a>
                                {% else %}

                                    <i class="fa fa-file" aria-hidden="true"></i>{{ file.title }}


                                {% endif %}
                            </td>
                            {% if file.file_capacity %}
                                <td>{{ file.file_capacity }}</td>
                            {% else %}
                                <td>--</td>
                            {% endif %}
                            <td>{{ file.update_user }}</td>
                            <td>{{ file.update_datetime }}</td>
                            <td>
                                {% if file.file_type == 1 %}
                                    <button type="button" class="btn btn-info btn-xs" data-toggle="modal"
                                            data-target="#myModal" data-title="编辑文件夹"
                                            data-name="{{ file.title }}" data-fid="{{ file.id }}">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </button>
                                {% else %}
                                {% endif %}
                                <button class="btn btn-danger btn-xs" data-toggle="modal" data-target="#DeleteModal" data-pid="{{ file.id }}">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- 模态对话框 -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">新建文件夹</h4>
                </div>
                <div class="modal-body">
                    <form id="addForm" novalidate>
                        <input class="hide" type="text" name="fid" id="fid">
                        {% csrf_token %}
                        {% for form in forms %}
                            <div class="form-group">
                                <label for="{{ form.id_for_label }}">{{ form.label }}</label>
                                {{ form }}
                                <span class="error-msg">{{ form.errors.0 }}</span>
                            </div>
                        {% endfor %}

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" id="btnSubmit">创建</button>
                </div>
            </div>
        </div>
        <!-- 删除模态框 -->
    </div>
    <div class="modal fade" id="DeleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                <h4>删除该文件夹</h4>
                <p>这将会删除整个文件夹及文件夹里的全部内容</p>
                <p style="text-align: right;">
                    <a class="btn btn-default btn-sm" data-dismiss="modal">取消</a>
                    <button type="button" class="btn btn-danger btn-sm" id="del_btn">删除</button>
                </p>
            </div>
        </div>
    </div>

{% endblock %}
{% block js %}
    <script src="{% static 'web/plugin/cos-js-sdk-v5-0.5.22/dist/cos-js-sdk-v5.min.js' %}"></script>
    <!--
    <script>
        var Bucket = '{{ request.tracer.project.bucket }}';
        var Region = '{{ request.tracer.project.region }}';
        var cos = new COS({
            getAuthorization: function (options, callback) {
                var url = '{% url 'sts_cam' project_id=request.tracer.project.id  %}';
                var xhr = new XMLHttpRequest();
                xhr.open('GET', url, true);
                xhr.onload = function (event) {
                    try {
                        var data = JSON.parse(event.target.responseText);
                        var credentials = data.credentials;
                    } catch (event) {
                    }
                    if (!data || !credentials) return console.error('密码错误');
                    callback({
                        TmpSecretId: credentials.tmpSecretId,
                        TmpSecretKey: credentials.tmpSecretKey,
                        XCosSecurityToken: credentials.sessionToken,
                        StartTime: data.startTime, //
                        ExpiredTime: data.expiredTime, //
                    });
                };
                xhr.send();
            }
        });

        // 监听所选文件
        document.getElementById('file-selector').onchange = function () {
            var file = this.files[0];
            if (!file) return;
            cos.sliceUploadFile({
                Bucket: Bucket,
                Region: Region,
                Key: file.name,
                Body: file,
                onHashProgress: function (progressData) {
                    console.log('校验中', JSON.stringify(progressData));
                },
                onProgress: function (progressData){
                    console.log('上传中', JSON.stringify(progressData));
                },
            }, function (err, data) {
                console.log(err, data);
            });
        };
    </script>

这是js原生写法
-->
    <script>
        var cos;
        var addURL = '{% url "file" project_id=request.tracer.project.id %}';

        $(function () {
            initcos();
            bindChangeFileInput();
            bindModelSubmit();
            initAddModal();
            initDelModeal();
            bindDelSubmit();
        });

        function initAddModal() {
            $('#myModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var title = button.data('title');
                var fid = button.data('fid');
                var name = button.data('name');
                var modal = $(this);
                modal.find('.modal-title').text(title);
                if (fid) {
                    modal.find('#id_title').val(name);
                    modal.find('#fid').val(fid);
                }
                else {
                    modal.find('.error-msg').empty();
                    $('#addForm')[0].reset();
                }


            })
        }

        function initDelModeal() {
            $('#DeleteModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var pid = button.data('pid');
                var modal = $(this);
                modal.find('#del_btn').attr('pid', pid);

            })
        }

        function bindDelSubmit(){
            $('#del_btn').click(function(){
                $.ajax({
                    url: '{% url 'file_delete' project_id=request.tracer.project.id %}',
                    type: 'GET',
                    data:{pid: $(this).attr('pid')},
                    success: function(res){
                        console.log(res);
                        if (res.status){
                            location.reload()
                        }
                    }
                })
            })
        }

        function bindModelSubmit() {
            $('#btnSubmit').click(function () {
                $.ajax({
                    url: location.href,
                    type: 'POST',
                    data: $('#addForm').serialize(),
                    success: function (res) {
                        if (res.status) {
                            location.reload()
                        }
                        else {
                            $.each(res.errors, function (k, v) {
                                console.log(k);
                                $('#id_' + k).next().text(v[0])
                            })
                        }
                    }
                })
            })
        }


        function initcos() {
            cos = new COS({
                getAuthorization: function (options, callback) {
                    $.get('{% url 'sts_cam' project_id=request.tracer.project.id  %}', {}, function (data) {
                        var credentials = data && data.credentials;
                        if (!data || !credentials) return console.error('临时密码错误');
                        callback({
                            TmpSecretId: credentials.tmpSecretId,
                            TmpSecretKey: credentials.tmpSecretKey,
                            XCosSecurityToken: credentials.sessionToken,
                            StartTime: data.startTime, //
                            ExpiredTime: data.expiredTime,
                        })
                    })
                }
            })
        }

        // 监听所选文件
        function bindChangeFileInput() {
            $('#file-selector').change(function () {
                var files = $(this)[0].files;
                $.each(files, function (index, fileObject) {
                    var filename = fileObject.name;
                    cos.putObject({
                        Bucket: '{{ request.tracer.project.bucket }}',
                        Region: '{{ request.tracer.project.region }}',
                        Key: filename,
                        Body: fileObject,
                        onProgress: function (progressData) {
                            console.log('文件上传进度：', filename, JSON.stringify(progressData))
                        }

                    }, function (data, error) {
                        console.log(data || error);
                    })
                })
            })
        }
    </script>
{% endblock %}