{% extends 'layout/manage.html' %}

{% block title %}
    加入项目
{% endblock %}

{% block content %}
    <div>
        {% if error %}
            <h4><i class="fa fa-check-circle" aria-hidden="true"></i>{{ error }}</h4>
        {% else %}
            <div class="alert alert-success no-radius">
                <h4><i class="fa fa-check-circle" aria-hidden="true"></i>加入成功</h4>
                <a href="{% url 'dashboard' project_id=project.id %}"></a>

            </div>
        {% endif %}
    </div>
{% endblock %}